<div class="container w-50 my-5">
    <div class="card bg-secondary text-center">
        <div class="card-header text-white">
            <h1>{{ item.name }}</h1>
        </div>
        <div class="card-body ">
            <div class="card-text">
                    <h6 class="text-white">ID :{{ item.id }}</h6>
                    <h6 class="text-white">USERNAME :{{ item.username }}</h6>
                    <h6 class="text-white">EMAIL :{{ item.email }}</h6>
                    <h6 class="text-white">CONTACT :{{ item.phone}}</h6>
                    <h6 class="text-white">CITY :{{ item.address.city }}</h6>
                    <h6 class="text-info">WEBSITE :{{ item .website }}</h6>
            </div>
           
        </div>
        <div class=" card-link d-flex p-3 justify-content-end">
            <button class="btn btn-danger" (click)="gotouser()">close</button>
        </div>
    </div>
  
</div>